@model ProjectFenris.Models.ViewModels.DashboardViewModel
@using ProjectFenris.Utilities;
@{
    ViewData["Title"] = "Home Page";
}

@*Just to tell the user what page they're on*@
<div class="banner py-2">
    <div class="row pl-4">
        <i class="fas fa-th-large fa-2x pl-2 pr-3" style="padding-top:11px"></i>
        <h1>DASHBOARD</h1>
    </div>
</div>

<div class="text-center">
    <h2 class="display-4">Welcome Back</h2>
    <p>@Model.Customer.Username</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="BudgetsContainer">
                <h2 class="text-center">Budgets</h2>
                @foreach (var budget in Model.Budget)
                {
                    <div id="Budget-@budget.Id" class="BudgetContainer">
                        @Html.Hidden("currency", budget.Currency, new { id = "Currency-" + budget.Id })
                        <i class="fas fa-ellipsis-h fa-2x edit"></i>
                        <div class="row justify-content-center">
                            <p class="text-center">@budget.Name</p>
                        </div>
                        <div class="row justify-content-center">
                            <h3 class="text-center">@budget.Currency@budget.Remaining</h3>
                        </div>
                        <div class="row justify-content-center">
                            <button id="addExpenseButton" class="btn budget expense" onclick="ShowExpenseInput(@budget.Id)">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button id="addExpenseButton" class="btn budget income" onclick="ShowExpenseInput(@budget.Id)">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        
                    </div>
                    <p>Extra Info:</p>
                        <div class="row text-center">
                            <div class="col-4">
                                <p>Estimate: @budget.Currency@budget.Estimate</p>
                            </div>
                            <div class="col-4">
                                <span>Allowance: </span><span>@budget.Currency</span><span>@budget.Allowance</span>
                            </div>
                            <div class="col-4">
                                <span>Income: </span><span>@budget.Currency</span><span>@budget.Income</span>
                            </div>
                            <div class="col-2">
                            </div>
                            <div class="col-4">
                                <p>Last Updated: @budget.LastUpdate.ToShortDateString()</p>
                            </div>
                            <div class="col-4">
                                <span>Expenditure: </span><span>@budget.Currency</span><span>@budget.Expenditure</span>
                            </div>
                        </div>
                }
            </div>
        </div>
        <div class="col-6">
            <div class="customContainer">
            </div>
        </div>
    </div>
</div>

@*Hidden by default*@
<div id="ExpensePanel" class="customContainer" style="display:none;">
    <input type="hidden" id="ExpensePanelId" />
    <input type="hidden" id="ExpenseCurrency" />
    <h3>Add an Expense</h3>
    <div class="form-group">
        <label class="form-check-label" for="ExpenseInput">How much would you like to expense?</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span id="ExpenseCurrencyDisplay" class="input-group-text"></span>
            </div>
            <input id="ExpenseInput" placeholder="200" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="ExpenseComment">Add a comment? (Optional)</label>
        <input type="text" class="form-control" id="ExpenseComment" placeholder="Comment">
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="ExpenseDistribute">
            <label class="form-check-label" for="ExpenseDistribute">
                Would you like to distribute this expense?
            </label>
        </div>
    </div>
    <div id="ExpenseDistributePanel" style="display:none">
        <p>Distribute</p>
    </div>
    <button id="AddExpenseSubmit" class="btn btn-primary">Add Expenses</button>
    <button id="CancelExpense" class="btn btn-secondary">Cancel</button>
</div>
